@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* [Intervention] Slow network is detected. See https://www.chromestatus.com/feature/5636954674692096 for more details.
 Fallback font will be used while loading: https://fonts.gstatic.com/s/josefinsans/v15/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLw.woff2 */

*{
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color:#96caa2;
    box-sizing: border-box;
}

h1,
.divs{
    background-color: white;
    /* width: 50%;
    margin: auto; */
}

.main{
    margin: auto;
    width: 60%;
   
} 

h1{
    border-top: solid 10px #5c9c6b;
}

h1,
.divs
{
    padding: 20px 50px 20px 50px;
   margin-top: 15px;
   margin-bottom: 15px;
   border-radius: 9px;
}

.submit{
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    /* margin-left:  calc(100vh - 120px); */
    border-radius: 9px;
    width: 120px;
    /* margin:auto; */
}

/*  _-_-_-_-_-_- INPUT SELECTORS  _-_-_-_-_-_- */


input{
    padding:0px ; 
    border-top: none ;
    border-left: none;
    border-right: none;
    border-bottom: 2px #599a68 solid;
    width: 280px;
    font-size: 20px;
    background-color: #fff;
    background-color:  none !important;
    color: #000 !important;

}

input:focus{
    outline:none;
    background-color: #fff;
}



/* 
  .show-autofill-new{
    background-color: #E8F0FE !important;
    background-image: none !important;
    color: #000000 !important;
  }
  .show-autofill-old {
    background-color: #FAFFBD !important;
    background-image: none !important;
    color: #000000 !important;
  } */

/*  _-_-_-_-_-_- ALERT MESSAGE SELECTORS  _-_-_-_-_-_- */

.namediv,
.emaildiv,
.phonediv,
.addressdiv{
      /* background-color:rgba(92,156,107,0.7);
      color: #fff;
      font-size:16px;
       padding:5px ; 
      display: inline-block; 
      border-radius: 7px;
      transition: all 0.5s ease;
*/
margin-top: -10px;
color: red;
}


.stUf5b{
    color: red;
}


/*  _-_-_-_-_-_- MEDIA SELECTORS  _-_-_-_-_-_- */

@media(max-width:966px){
    .main{
          width: 90%;
    }

    .submit{
          width: 120px;
    }
}